@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  /* background-color: #F4F5F8; */
  background-color: #1C1C21;
}
